<div class="row mt-2">
  <div class="col-3 ml-2">
    <h3>Country list:</h3>
    <div class="list-group" *ngIf="!isFetching; else loading">
    <a
      *ngFor="let country of countries"
      [routerLink]="['/countries', country.alpha3Code]"
    >{{ country.name }}</a>
    </div>
    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>

  <div class="col">
    <h3>Info:</h3>
    <router-outlet></router-outlet>
  </div>
</div>
