<div class="modal-dialog ml-0">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>{{ country.name }}</b> <img style="height: 30px; border: 2px solid black; margin-left: 5px" src="http://146.185.154.90:8080/restcountries/data/{{ country.alpha3Code | lowercase }}.svg" alt="#"/> </h5>
      </div>
      <div class="modal-body">
        <p><b>Name</b>: {{ country.nativeName }}</p>
        <p><b>Region</b>: {{ country.region }}</p>
        <p><b>Capital</b>: {{ country.capital }}</p>
        <p><b>Population</b>: {{ country.population }} m.p.</p>
        <p><b>Timezone:</b> {{ country.timezones }}</p>
      </div>
    </div>
  </div>
